body {
    background-color: lightgray;
    margin: 0;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color: #444;
        line-height: 1.9;
        background-color: #f3f3f3;
    
}

.header-class {
    display: flex;
    justify-content: space-between;
    /* border: solid red 1px; */
    margin-top: 0;
    padding-bottom: 1rem;
    background-color: white;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    z-index: 35;
}

.header-left {
    /* border: solid red 1px; */
    margin-left: 7%;
}

.header-right {
    /* border: solid red 1px; */
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-right button {
    cursor: pointer;
    height: 3rem;
    border-radius: 2rem;
    width: 10rem;
    background-color: lightgreen;
    border:none;
    font-size: 1rem;
}

.header-right a {
    text-decoration: none;
    color: black;
}

.description {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid lightgrey 1px;
    padding-bottom: 10rem;
    padding-top: 9rem;
}


.description-right {
    /* border: solid red 1px; */
    width: 30%;
}

.description-image {
    width: 100%;
}

.description-left {
    /* border: solid red 1px; */
    width: 40%;
    display: flex;
    flex-direction: column;
}

.description-left h1 {
    font-size: 4rem;
}

.description-left a {
  margin-top: 1.5rem;
  text-decoration: underline;
  font-size: 1.3rem;
  color: green;
}

.description-left p {
    font-size: 1.5rem;
}

.products-header {
    /* border: solid red 1px; */
    padding-left: 20%;
    padding-bottom: 10%;
    padding-top: 10%;
}

.products-header h2 {
    color: green;
    font-size: 2rem;
}

.products-header h1 {
    font-size: 2.5rem;
}

.digital {
    display: flex;
    justify-content: space-around;
}

.left-digital {
    /* border: solid red 1px; */
    width: 40%;
}

.left-digital img {
  width: 100%;
}

.right-digital {
    /* border: solid red 1px; */
    width: 30%;
    margin-right: 15%;
}

.circle {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    background-color: lightgreen;
    margin-top: 1rem;
    margin-left: .5rem;
}

.right-digital p {
    margin-top: 3rem;
    font-size: 1.5rem;
}

.right-digital h1 {
  margin-top: 2rem;
}

.grow {
    display: flex;
    justify-content: space-around; 
    margin-top: 3rem;
}

.left-grow {
    /* border: solid red 1px; */
    width: 30%;
    margin-left: 8%;
}

.right-grow {
    /* border: solid red 1px; */
    width: 40%;
    margin-right: 3.5rem;
}

.right-grow img {
    width: 100%;
}

.left-grow p {
    margin-top: 3rem;
    font-size: 1.5rem;
}

.disabled {
    display: none;
}

.operations-header {
    /* border: solid red 1px; */
    padding-left: 20%;
    padding-bottom: 5%;
    padding-top: 10%;
}

.operations-header h2 {
    color: green;
    font-size: 2rem;
}

.operations-header h1 {
    font-size: 2.5rem;
}

.operationsButtons {
    
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-left: 15%;
    z-index: 50;
    position: absolute;
    z-index: 20;
}

.operationsButtons button {
    height: 3rem;
    width: 13rem;
    border-radius: 2rem;
    font-size: 1rem;
    border:none;
    cursor: pointer;
}

.yellow {
    background-color: orange;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: orchid;
}

.operationsBottomSection {
    background-color: white;
    width: 80%;
    margin-left: 10%;
    height: 10rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
    /* position: absolute; */
    transform: translateY(1.5rem);
    display: flex;
    justify-content: space-around;
    z-index: 30;
}

.bigCircle {
    background-color: orange;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin-left: 4rem;
    margin-right: 1rem;
}

.operationsMainText1,
.operationsMainText2,
.operationsMainText3 {
    /* border: solid red 1px; */
    width: 70%;
    margin-right:4rem;
}

.operations { 
    border-bottom: solid lightgrey 1px;
    padding-bottom: 10rem;
}

.opinions-header {
    padding-left: 20%;
    padding-bottom: 5%;
    padding-top: 10%;
    width: 70%;
}

.opinions-header h2 {
    color: green;
    font-size: 2rem;
}

.opinions-header h1 {
    font-size: 2.5rem;
}

.opinion1 {
    border: solid red 1px;
    width: 50%;
}

.sliderContainer {
    display: flex;
    justify-content: space-around;
}

.slider {
    /* display: flex;
    justify-content: space-around; */
    /* border: solid red 1px; */
    max-height: 14rem;
    max-width: 50rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 20rem;
    
}

.sliderContainer button {
    height: 4rem;
    margin-top: 5rem;
    border-radius: 100%;
    width: 4rem;
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 2rem;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50rem;
    transition: transform 1s;
}

.dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
  
    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
  }

  .dots__dot:last-child {
    margin: 0;
  }
  
  .dots__dot--active {
    /* background-color: #fff; */
    background-color: #888;
    opacity: 1;
  }

  .dotContainer {
      /* border: solid red 1px; */
      width: 10%;
      margin-left: 45%;
      margin-top: 2rem;
  }

  .opaced {
      opacity: 0.3;
  }

  .modal {
      height: 30rem;
      
      width: 60%;
      position: fixed;
      top: 12.5%;
      left: 20%;
      z-index: 100;
      background-color: white;
  }

  .modalForm {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 50%;
      margin-top: 12.5%;
  }

  .backdropBackground {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.75);
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      z-index: 50;
  }

  .hidden {
      display: none;
  }
  
  .opinions {
      padding-bottom: 10rem;
  }

  .footer {
      
      height: 30rem;   
      background-color: #37383d;;
  }

  .footerNav {
    
    padding-top: 15rem;
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-left: 20%;
    
  }
  
  .footerNav a {
    text-decoration: none;
    color: white;
  }


  .footer p {
    
    text-align: center;
    padding-top: 8rem;
    color: lightgray;
    font-size: 1.2rem;
  }

  .footer span {
      font-style: italic;
      font-weight: bolder;
      color: floralwhite;
  }

  .modal button {
     width: 10rem;
     height: 2rem;
     background-color: lightgreen;
     border-radius: 2rem;
     border: none;
     margin-top: 1rem;
     cursor: pointer;
  }



  @media only screen and (max-width: 715px) {
    /* .App {
        display: none;
    }

    .mobile{
        display: block;
        color: red;
    } */

    .header-class {
        position: relative;
        height: 20rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-class h1 {
      font-size: 1rem;
      /* border: solid red 1px; */
      width: 10rem;
    }

    .header-right {
        flex-direction: column;
        
        /* border: solid red 1px; */
        height: 15rem;
    }

    .description {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .description h1 {
        font-size: 2rem;
    }

    .description-right {
        /* border: solid red 1px; */
        width: 80%;
    }

    .description-left a {
        display: none;
    }

    .products {
        flex-direction: column;
    }

    .products h1 {
        font-size: 2rem;
    }

    .digital {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right-digital {
        /* border: solid red 1px; */
        width: 80%;
        margin-left: 25%;
    }

    .left-digital {
        /* border: solid red 1px; */
        width: 80%;
    }

    .grow {
        flex-direction: column;
        align-items: center;
        /* border: solid red 1px; */
    }

    .left-grow {
        /* border: solid red 1px;  */
        width: 80%;
    }

    .right-grow {
        /* border: solid red 1px;  */
        width: 80%;
        margin-left: 25%;
    }

    .operations h1 {
       font-size: 2rem;
    }

    .operationsButtons {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        /* border: solid red 1px; */
        height: 10rem;
        position: relative;
    }

    .bigCircle {
        display: none;
    }

    .operationsBottomSection {
        /* border: solid red 1px; */
        height: 20rem;
        margin-left: 4rem;
        padding-right: 1rem;
        padding-left: 1rem;
        width: 60%;
        padding-top: 1rem;
    }

    .operationsBottomSection h1 {
        font-size: 1rem;
    }

    .operations-header h1{
        /* border: solid red 1px;  */
        width: 70%;
    }

    .opinions-header h1 {
        font-size: 1rem;
    }

    .slide h1 {
        /* border: solid red 1px; */
        text-align: center;
    }

    .slider {
        /* border: solid red 1px; */
        height: 20rem;
        padding-bottom: 30rem;
    }


    .footer p{
        border: solid red 1px;
        padding-top: 2rem;
        
    }

    .footerNav {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: solid red 1px;
        padding-top: 0;
        height: 70%;
    }

    .footer p {
        border: solid red 1px;
        width: 60%;
        margin-left: 20%;
        padding-top: 0;
    }
  }

  


